<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/ONLEX-LOGO.png">
    <title>ONLEX</title>
    <link rel="stylesheet" href="/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header id="home-page" class="annonce-header">
        <div class="home-container">
            <div class="navs-wrapper">
                <div class="brand-logo">
                    <img src="/img/favicon.png" alt="onlex logo">
                    <h1 class="brand-name dark-gray-text">
                        ONLEX
                    </h1>
                </div>
                <nav id="navigation">
                    <ul class="nav-link">
                        <a href="/" class="dark-gray-text">ACCUEIL</a>
                        <!-- <a href="" class="dark-gray-text">ANNONCE</a> -->
                        <a href="#home-footer" class="dark-gray-text">CONTACT</a>
                    </ul>
                    <a href="/membre/login" class="btn bg-orange">CONNECTER</a>
                </nav>
             </div>
        <div id="concour-titre">
            <h3><%=concours.titre%></h3>
        </div>
    </header>
    <section id="annonce-layout" class="concour-layout">
        <div class="regle">
            <h3>Règles regissant le concours</h3>
            <ul>
                <li>Au jour de la composition, le candidat devra se présenter au moins cinq (05) minutes avant l’ouverture des questions.</li>
                <li>Dix (10) minutes après l’ouverture de la composition, aucune connexion ne sera autorisée (acceptée).</li>
                <li>Le candidat est tenu de laisser sa caméra activée pour permettre au système de « reconnaissance faciale » d’identifier des cas suspects de fraude.</li>
                <li>Durant tout le temps de composition, le système intelligent procède à une identification ; cela oblige le candidat à ne pas se détourner de la caméra plus de (20) seconds risques de voir sa session bloquée.</li>
                <li>La détection de deux (02) visages ou plus sur la Caméra, le système interprètera cela comme tentative de fraude.</li>
                <li>Pendant la composition il n’est pas permis d’ouvrir un nouvel onglet ni de rabattre la fenêtre courante.</li>
            </ul>
        </div>
        <p><%=concours.description%></p>
        <a href="/candidature?xml_data_map=<%=concours.idConcours%>" class="btn bg-orange">Candidater</a>
    </section>
    <footer id="home-footer">
        <div id="contact-info">
            <h3>Nos Contacts</h3>
            <p>E-mail: developpers@onlex.com</p>
            <p>Tel: 000 00 0000</p>
            <p class="copyright">&copy; Copyright. All right reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    
</body>
</html>