<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fc494360f4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/adminStyle.css">
    <title>ONLEX | EXAMS</title>
</head>
<body>
    <header class="darkbg " id="question-page-header">
        <div class="admin-container">
            <div class="simple-flex">
                <img src="/img/favicon.png" alt="onlex logo" width="50px" height="50px">
                <div class="system-name">
                    <a href=""><h2>ONLEX</h2></a>
                    <!-- <p>The Smart System</p> -->
                </div>
            </div>
            <h3><a href="">Bonne chance</a></h3>
        </div>
    </header>
    <main id="question-page">
        <div id="question">
            <p class="red-text">***Veuillez essayer de vous conformer a toutes les regles et reglementations regissant ce test. Toute tentative de triche entrainera la deconnexion du systeme.</p>
            <div class="question whitebg">
                <p id="idquestion-num">Question 7</p>
                <h4>What does HTML stands for?</h4>
                <div class="response">
                    <input type="radio" name="answer" id="answer" value="HyperText Preprocessor">
                    <span class="selected"></span>

                    <label for="">HyperText Preprocessor</label>
                </div>
                <div class="response">
                    <input type="radio" name="answer" id="answer" value="HyperText marking language">
                    <span class="selected"></span>
                    <label for="">HyperText marking language</label>

                </div>
                <div class="response">
                    <input type="radio" name="answer" id="answer" value="HyperText markup language">
                    <span class="selected"></span>
                    <label for="">HyperText markup language</label>

                </div>
                <div class="response">
                    <input type="radio" name="answer" id="answer" value="xx">
                    <span class="selected"></span>
                    <label for="">HyperText makeup language</label>
                </div>
               
                <div class="question-controller bgdeepgray">
                    <a href="" class="bggold btn">NEXT</a>
                </div>
            </div>
        </div>
        <div class="video-question-num">
            <video src="" poster="../icons/face.png"></video>
            <p class="bgdeepgray">QUESTIONS</p>
            <div class="question-tags whitebg">
                <div class="greenbg">1</div>
                <div class="greenbg">2</div>
                <div class="greenbg">3</div>
                <div class="greenbg">4</div>
                <div class="greenbg">5</div>
                <div class="greenbg">6</div>
                <div class="bglightgray">7</div>
                <div class="bglightgray">8</div>
                <div class="bglightgray">9</div>
                <div class="bglightgray">10</div>
            </div>
            <h4>TEMP RESTANT:05:35</h4>
        </div>
    </main>
</body>
</html>