<%-include("./includes/examsHeader")%>
<body>
    <div id="end-of-test">
        <h2>Fin du test</h2>
        <a href="/membre/dashboard" class="btn bg-orange">Retour au tableau de bord</a>
    </div>
</body>