<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/ONLEX-LOGO.png">
    <title>ONLEX</title>
    <link rel="stylesheet" href="/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/owl.theme.default.min.css">
    <script src="https://kit.fontawesome.com/fc494360f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/registration.css">
</head>
<body>
    <header id="home-page"class="candidature">
        <div class="home-container">
            <div class="navs-wrapper">
                <div class="brand-logo">
                    <img src="/img/favicon.png" alt="onlex logo">
                    <h1 class="brand-name dark-gray-text">
                        ONLEX
                    </h1>
                </div>
                <nav id="navigation">
                    <ul class="nav-link">
                        <a href="/" class="dark-gray-text">ACCUEIL</a>
                        <a href="#" class="dark-gray-text">CANDIDATURE</a>
                        
                    </ul>
                    
             </div>
        </div>
    </header>
     <p class="application-note dark-gray-text">
         Veuillez lire attentivement et remmplir tous les champs applicables - cela nous permettra de commence le proccessus de candidature. Ce formulaire
         ne vous pendra que quelque minutes a remplir et vous n'aurez besoin que de quelques informations
         de base sur votre formation anterieure, une fois que vous avex postule et que votre candidature
         a ete validee, nous vous contacterons avec de details concernant votre candidature.
     </p>
     <div id="progress-tracker">
            <div class="progress-line">
                <div class="progress bg-orange" id="progress" style="width: 100%;"></div>
            </div>
         <div class="icons">
             <div>
                    <div class="user bg-orange">
                        <i class="fas fa-user"></i>
                    </div>
                    <p>About you</p>
             </div>
          <div>
         <div class="user bg-orange education">
            <i class="fas fa-graduation-cap"></i>
         </div>
         <p>Education Background</p>
        </div>

        <div>
         <div class="user bg-orange face">
            <i class="far fa-smile"></i>
        </div>
        <p>Face Recognition</p>
        </div>

        <div>
         <div class="user bg-orange">
            <i class="fas fa-check"></i>
         </div>
         <p>success</p>
        </div>
        </div>
     </div>
     <main id="success-page-wrapper">
        <div class="icon">
            <i class="fas fa-check green-text fa-3x"></i>
        </div>
        <div class="succes-note">

            <p>Votre candidature a ete soumise avec success pour l'examen</p>
            <p>Nous examinerons et confirmerons votre candidature sous peu.</p>
        </div>
        <a href="/membre/dashboard" class="btn bg-orange">SUIVEZ VOTRE CANDIDATURE</a>
    </main>
    
    <footer id="home-footer">
        <div id="contact-info">
            <h3>Nos Contacts</h3>
            <p>E-mail: developpers@onlex.com</p>
            <p>Tel: 000 00 0000</p>
            <p class="copyright">&copy; Copyright. All right reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <!-- <script src="registration.js"></script> -->
</body>
</html>