<%-include('./includes/examsHeader')%>
<main id="avant-exams">
    <div class="error-message">
        <p class="message">Votre session a été bloqué à cause des nombreuses tentatives de tricherie</p>
    </div>
    <a href="/" class="btn bg-orange" style="margin-top: 15px;">Retour à l'accuiel</a>
</main>