@import "ultilities";
@import "layout";

%container{
    max-width: 1100px;
    padding: 2rem 3rem;
    margin: auto;
}


#create-new-question-form-wrapper{
    @extend %container;

 .question-container{
    width: 100%;
     @include displayFlex(column,center,center);

     form{
         width: calc(100% - 300px);
         margin-top: 1rem;
         input,textarea,select{
             width: 100%;
             margin-bottom: 12px;
            
         }
         textarea{
             height: 150px;
             resize: none;
             padding: .7rem;
             border: 1px solid $orange;
             border-radius: 4px;
             outline: none;
         }
         
         .input-verdict{
             display: flex;

             .verdict{
                 width: 20%;
                 margin-left: 10px;
                 border: none;
                 background: rgba(43, 42, 42, 0.5);
                 color: white;
             }
         }
     }
 }

}

// * QUESTION BANK
.table-container{
    height: 90vh;
    overflow: scroll;
    position: relative;
    margin: 3rem auto;
}
#table {
    margin: 3rem auto;
	border-collapse: collapse;
	text-align: center;
	height: 100%;
    width: 90vw;
    padding: 1rem 0;
    overflow: scroll;
	
}
thead {
	background-color: #63d694;
	color: #ffff;
	height: 40px;
    position: sticky;
    top: 0;
    left: 0;
}
tbody tr {
	border-bottom: 1px solid #cecece;
	// max-height: 5px;	
    padding: .8rem;
}
tbody tr td{
    padding: .8rem;
}

tbody tr:nth-child(even) {
	background-color: #fff;
}

// ! CREATE QUESTION PAGE
#create-question-wrapper{
    margin-top: 3rem;
    position: relative;
    .container{
        h3{
            text-align: center;
            font-weight: 400;
            font-size: 2rem;
            padding: .6rem 0;
        }
        form{
            .question-info{
                background: $white;
                box-shadow: 1px 1px 20px #f0f4f5;
                z-index: 20;
                // opacity: 1;
                #question-info{
                   display: grid;
                   grid-template-columns: 1fr 1fr;
                   grid-gap: .5rem;
                   padding: .8rem 1.8rem;
                  
                   button{
                       grid-column: 2;
                       width: 40%;
                       float: right;
                   }
                
                }
            }
            input,select{
                width: 90%;
            }
            #questions{
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                z-index: -20;
                
                .tables{
                    height: 60vh;
                    overflow: scroll;
                
                table{
                    width: 100%;
                    // border-collapse: collapse;
                    // height: 90vh;
                    overflow: scroll;
                }
                thead{
                    tr{
                        th{
                            &:first-child{
                                width: 90%;
                                // border-right: 2px solid $white;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            // width: 100%;
                            text-align: left;
                            
                            input{
                                width: 40px;
                                text-align: left;
                                padding: 0;
                            }
                        }
                    }
                }
                h3{
                    padding: 0;
                }
            }
            input[type='submit']{
                width: 20%;
            }
            }
            
        }
    }
}