<header id="admin-header" class="darkbg">
    <div class="admin-container">
        <nav class="admin-header-navs">
            <div class="onlex-logo simple-flex">
                <img src="/img/favicon-white.png" width="50px" height="50px" alt="onlex-logo" class="white-text">
                <h2 class="green-text">ONLEX</h2>
            </div>
            <div class="hamburger">
                <span class="hamburger-menu"></span>
                <span class="hamburger-menu"></span>
                <span class="hamburger-menu"></span>
            </div>
            <div class="header-buttons">
                <a href="/Admin/" class="btn annonce-bell btn-pink"><i class="far fa-bell"></i> Annonce</a>
                <a href="" class="btn concours-bell btn-red" style="margin-right: 10px;"><i class="fas fa-graduation-cap"></i> Concours</a>
                <a href="" class="btn btn-green"><i class="fas fa-cog"></i> Parametre</a>
            </div>
            <div id="active-user" class="simple-flex">
               
                    <a href="" class="white-text">Déconnexion <i class="fas fa-power-off"></i></a>
               
                <!-- <img src="../icons/user.png" alt=""> -->
            </div>
        </nav>
    </div>
</header>