<head>
    <title>User | Exams</title>
    <link rel="stylesheet" href="/styles/exams.css">
    <link rel="stylesheet" href="/styles/registration.css">
</head>
<header id="home-page"class="candidature">
    <div class="home-container">
        <div class="navs-wrapper">
            <div class="brand-logo">
                <img src="/img/favicon.png" alt="onlex logo">
                <h1 class="brand-name dark-gray-text">
                    ONLEX
                </h1>
            </div>
            <nav id="navigation">
                <ul class="nav-link">
                    <a href="/membre/dashboard" class="dark-gray-text">Tableau de bord</a>                        
                </ul>
                
         </div>
    </div>
</header>